
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/home"> <img class="logo-small" src="/images/logored.svg"></a>
        <div class="project-title">{{title}}</div>


        <div class="w-100 nav-item dropdown navbar-collapse collapse order-2 dual-collapse2">
            <div class="navbar-nav ml-auto">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{user}}<span id="user-id">{{userId}}</span>
            </a>
            <div class="dropdown-menu user-dropdown" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/view-profile/{{user}}">Profile</a>
                        <a class="dropdown-item" href="https://github.com/Rahat-ch/Project-2-E" target="_blank">Github</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">Log Out</a>
            </div>
            </div>
        </div>



    </nav>









    <div class="content-area row justify-content-between" style="width: 100vw;">
        <div class="col container-fluid content-container text-center bg-light">
            <div id="firepad-container"></div>
        </div>
        <div class="col rightnav d-flex align-content-between flex-wrap">

                <div class="leftsubnav rightsubnav">
                <p>Project Chat</p>
                </div>
                <div id="out" class="chatbox">
                <ul id="messages">
                    <li class="chat-welcome" >Welcome to the chatroom for "{{title}}".</li>
                </ul>
                </div>
                <div class="chatmsg col-12">
                    <div class="chat-more col bg-dark position-fixed invisible"><p class="text-light text-center">View more below</p></div>
                    <form id="message-form">
                        <div class="chat-area">
                        <textarea class="chat-input col-11" style="resize:none;" name="message" placeholder="Message"></textarea>
                        </div>
                        <div class="chat-button justify-content-end d-flex">
                        <button class="btn btn-danger btn-sm mb-5">Chat</button>
                        </div>
                    </form>
                </div>

        </div>

    </div>
</div>
</div>

